body{
    background-color:blanchedalmond;
}
h1{
    color: blue;
}
h3{
    color: blue;
}
img{
    margin:10px ;
}
p{
    font-size: 18px;
}
h2{
    color: blue;
}
ul{
    font-size: 18px;
}
