/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
  }
  
  @import url(https://fonts.googleapis.com/css?family=The+Girl+Next+Door);
  
  .wrapper { padding: 5px; } aside { margin: auto; width: 900px; }
  
  @hueRotate: 10deg;
  
  
  .loading {
   
    font-family: 'The Girl Next Door', cursive;
    font-size: 26px; padding: 30px;
    
    background-size: 130%;
    -webkit-filter: hue-rotate(@hueRotate);
    height: 120px; line-height: 120px;
    color: white;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.4) inset;
    
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
    
    position: relative;  
  }
  
  
  @keyframes maskBorder {
    
    0% { clip: rect(0,50px,10px,0); }
    20% { clip: rect(0,200px,10px,0); }
    35% { clip: rect(0,200px,10px,190px); }
    50% { clip: rect(10px,200px, 50px, 190px); }
    60% { clip: rect(40px,200px, 50px, 190px); }
    70% { clip: rect(40px,200px, 50px, 0px); }
    85% { clip: rect(40px,10px, 50px, 0px); }
    90% { clip: rect(0,10px, 50px, 0px); }
    100% { clip: rect(0,10px, 10px, 0px); }
  }
  
  
  
  body { 
    background: #bbddee; 
    background: radial-gradient(ellipse cover, #fff 0%, #bbddee 100%); 
    padding: 50px 100px; height: 500px; 
  }

  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  
  h1
    {
      text-shadow: 5px 5px #558ABB;
    } 
             
  p{
    color: black;
      text-shadow: 2px 2px 2px #FFFFFF;
        font-family: "cursive";
  }
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300;
  }
  h1 {
    font-size: 4.0rem;
    line-height: 1.2;
    letter-spacing: -.1rem;
  }

  .title h1 {
    font-size: 80px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 0.85;
    margin-bottom: 28px;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
  }

  