body{
	font-family: arial, helvetica;
	background: #AAD6F8;
}

.menu{
	list-style: none;
	padding: 0;
	background: #092327;
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background: #ef8354;
}

