body{
    margin: 0;
    padding: 0;
    color: rgba(7, 7, 7, 0.932);

    background-image: url("../Imagenes/Fondo3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}

/*titulo*/
#text{
    color:rgba(21, 19, 19, 0.73);
    font-size: 50px;
    font-family:"Montserrat";
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    animation-name: texto;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}

@keyframes texto{
    0% {padding-top: 270px}
    100% {padding-top: 0px}
}   

/*Volver atras*/
.atras{ color:rgba(21, 19, 19, 0.967);
    font-size: 19px;
    font-family:"Montserrat";
    margin-right: 100px;
    text-align: right;
    font-weight: 700;
    animation: aparecer 12s linear 0s 1 normal forwards;
}

/*Contenedores*/
.separar{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 480px 1fr;
    position: relative;
    } 

.arbolito{
    grid-column: 1/span 12;
    grid-row: 1; 
    padding-top:10px;
    z-index: 1;
    text-align: center;  
}
    
.manzanita{
    grid-column: 8;
    grid-row: 1; 
    z-index: 1;
}

.manzanita2{
    grid-column: 6;
    grid-row: 1; 
    z-index: 1;
}

.manzanita3{
    grid-column: 7;
    grid-row: 1; 
    z-index: 1;
}

.manzanita4{
    grid-column: 5;
    grid-row: 1; 
    z-index: 1;
}

.manzanita5{
    grid-column: 9;
    grid-row: 1; 
    z-index: 1;
}

/*Contenedores del contenido(fotos)*/
.contenido{
    grid-column: 1/span 4;
    grid-row: 1;
    z-index:1;
}

.contenido1{
    grid-column: 10/span 11;
    grid-row: 1;
    z-index:1;
}

/*Contenedores de los enlaces ONGs*/
.enlace{
    grid-column: 1/span 4;
    grid-row: 2;
    z-index:1;
}

.enlace1{
    grid-column: 2/span 4;
    grid-row: 2;
    z-index:1;
}

.enlace2{
    grid-column: 4/span 4;
    grid-row: 2;
    z-index:1;
}

.enlace3{
    grid-column: 9/span 11;
    grid-row: 2;
    z-index:1;
}

.enlace4{
    grid-column: 10/span 12;
    grid-row: 2;
    z-index:1;
}

.enlace5{
    grid-column: 11/span 12;
    grid-row: 2;
    z-index:1;
}

/*Arbol*/
.arbol {
    height: 600px;
    width: 600px;
    padding-top: 15px;
    animation: arbol 7s linear 0s 1 normal forwards, mover 0.1s linear 9.5s 40 normal none;
}

@keyframes arbol {
    0% {opacity: 0;}
    40% {opacity: 0;}
    100% {opacity: 1}
}

@keyframes mover{
    0%  { -webkit-transform:rotateZ(-1deg); }
    50% { -webkit-transform:rotateZ( 0deg); }
    100%{ -webkit-transform:rotateZ( 1deg); }
}

/*Manzanas*/
.manzana{
    height: 1px;
    width: 1px;
    padding-top: 100px;
    animation: ocultar 5s linear 4s 1 normal forwards , caida 3.5s linear 13.5s 1 normal forwards;
}

.manzana1{
    height: 1px;
    width: 1px;
    padding-top: 150px;
    animation: ocultar 5s linear 4s 1 normal forwards , caida1 2.5s linear 13.5s 1 normal forwards;
}

.manzana2{
    height: 1px;
    width: 1px;
    padding-top: 200px;
    animation: ocultar 5s linear 4s 1 normal forwards , caida2 2.5s linear 13.5s 1 normal forwards;
}

@keyframes ocultar{
    0% {height: 1px; width: 1px;}
    60%{height: 1px; width: 1px;}
    100%{height: 50px; width: 50px;}
}

 @keyframes caida{
    0% {padding-top:100px;}
    10% {padding-top:200px;}
    100% { padding-top:500px;;}
}

@keyframes caida1{
    0% {padding-top:150px;}
    10% {padding-top:250px;}
    100% { padding-top:550px;;}
}

@keyframes caida2{
    0% {padding-top:200px;}
    10% {padding-top:300px;}
    100% { padding-top:470px;}
}

/*Fotos de las acciones*/
.acciones{ 
    width: 250px;
    height: 200px;
    object-fit: cover;
    margin-left: 30px;
    border-radius: 50%;
    border: rgb(6, 222, 251) 6px dashed;
    animation: aparecer 18s linear 0s 1 normal forwards;
}

.acciones1{ 
    width: 250px;
    height: 200px;
    object-fit: cover;
    margin-left: 30px;
    margin-top: 260px;
    border-radius: 50%;
    border: rgb(240, 249, 4) 6px dashed;
    animation: aparecer 18s linear 0s 1 normal forwards;
}

.acciones2{ 
    width: 250px;
    height: 200px;
    object-fit: cover;
    margin-left: 75px;
    border-radius: 50%;
    border: rgb(8, 253, 61) 6px dashed;
    animation: aparecer 18s linear 0s 1 normal forwards;
}

.acciones3{ 
    width: 250px;
    height: 200px;
    object-fit: cover;
    margin-left: 75px;
    margin-top: 260px;
    border-radius: 50%;
    border: rgb(242, 76, 15) 6px dashed;
    animation: aparecer 18s linear 0s 1 normal forwards;
}

/*Logos de la ONG'S*/
.logo{ 
    width: 160px;
    height: 100px;
    padding-left: 10px;
    padding-top: 30px;
    animation: aparecer 20s linear 0s 1 normal forwards;
}

.logo1{ 
    width: 160px;
    height: 100px;
    padding-left:80px;
    padding-top: 30px;
    animation: aparecer 20s linear 0s 1 normal forwards;
}

.logo2{
    width: 100px;
    height: 100px;
    padding-left: 20px;
    padding-right: 80px;
    padding-top: 30px;
    animation: aparecer 20s linear 0s 1 normal forwards;
}

.logo3{
    width: 100px;
    height: 100px;
    padding-left:45px;
    padding-top: 30px;
    animation: aparecer 20s linear 0s 1 normal forwards;
}

.logo4{
    width: 100px;
    height: 100px;
    padding-left: 70px;
    padding-top: 30px;
    animation: aparecer 20s linear 0s 1 normal forwards;
}

.logo5{
    width: 150px;
    height: 100px;
    padding-left: 80px;
    padding-top: 30px;
    animation: aparecer 20s linear 0s 1 normal forwards;
}

@keyframes aparecer{
    0%{opacity: 0;}
    99%{opacity: 0;}
    100%{opacity:1;}
}

