*{
    padding:0;
    margin:0; 
}
h1{
    text-align: center;
    background-color: rgb(11, 47, 114);
    color: white;
    padding: 20px;
}
nav ul{
background-color: rgb(252, 95, 207);
width:100%;
list-style-type: none ;
text-align: center;
}
nav li{
    display: inline-flex;
}
nav a {
    text-decoration:none;
    color: white;
    padding: 10px;
    width: 150px;
}

nav li:hover{
    background-color: rgb(11, 47, 114);
}

.fuente {
    font-family: 'Poppins', sans-serif;
}